body {
    font-family: 'Open Sans', sans-serif;
}

#container {
    width: 70%;
    margin: 0 auto;
}

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    width: 100%;
    margin: 50px auto;
    text-align: center;
    font-size: 38px;
}

h2 {
    font-family: 'Orbitron', sans-serif;
}

.column {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 3px solid green;
    overflow: auto;
}

.center {
    text-align: center;
}

.enemyChar {
    background-color: red;
    color: white;
}

.defenderChar {
    background-color: #ff3;
    color: black;
}

img {
    width: 138px;
    height: 138px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

.yourCharacter {
    display: inline-block;
    margin-right: 50px;
    float: left;
}

.enemy {
    display: inline-block;
    float: left;
}

.select {
    width: 100%;
    margin: 20px auto;
}

.fight {
    margin-bottom: 20px;
}

p {
    line-height: 1.25em;
}

#attack {
    display: none;
}

#reset {
    display: none;
}

.clearfix {
    clear: both;
}

button {
    background: #348AA7;
    border-color: #166E84;
    display: inline-block;
    padding: 15px;
    margin: 5px;
    height: 50px;
    min-width: 100px;
    border: none;
    outline: none;
    color: white;
    font-family: inherit;
    font-weight: 400;
    font-size: 20px;
    border-radius: 3px;
    box-shadow: 0 5px 0px darken(#166E84,0%);
    border-bottom: 2px solid darken(#166E84,3%);
} 
