body {
    font-family: 'Open Sans', sans-serif;
}

#container {
    width: 70%;
    margin: 0 auto;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    width: 100%;
    margin: 50px auto;
    text-align: center;
    font-size: 38px;
}

h2 {
    font-family: 'Orbitron', sans-serif;
}

.column {
    display: inline-block;
    width: 20%;
    margin: 10px;
    padding: 10px;
    border: 3px solid green;
    overflow: auto;
}

.center {
    text-align: center;
}

img {
    width: 138px;
    height: 138px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

.yourCharacter {
    width: 23%;
    display: inline-block;
    margin-right: 20px;
}

.enemy {
    width: 73%;
    display: inline-block;
}

.select {
    width: 100%;
    margin: 20px auto;
}

.fight {
    margin-bottom: 20px;
}

p {
    line-height: 1.25em;
}

#attack {
    display: none;
}

#reset {
    display: none;
}
